<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Wikipedia</title>
    <meta name="description" content="A simple encyclopedia using Wikipedia">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta property="og:title" content="Fast Wikipedia">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://thebestsite.jumpingcrab.com">

</head>
<body>
        <form action="/submit" method="get">
        <label for="query">Wikipedia Search</label>
        <input type="text" name="query" id="query" required>
        <button type="submit">Submit</button>
    </form>

</body>
</html>